<div class="container mb-5">
    <div class="mt-4 alert alert-success" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        <p><strong>Congrats,</strong> your component has been uploaded!</p>
        <hr>
        <p>You can now integrate the link below into your web applications.</p>
    </div>

    <h3 class="mt-5 mb-4">Your Component</h3>

    <dl class="row">
        <dt class="col-3">Component Name :</dt>
        <dd class="col-9">{{name}}</dd>
        <dt class="col-3">Version :</dt>
        <dd class="col-9">{{version}}</dd>
         <dt class="col-3">Publisher :</dt>
        <dd class="col-9">{{publisher}}</dd>
        <dt class="col-3">Generated Link :</dt>
        <dd class="col-9"><a href="/components/{{namelink}}/{{version}}/{{entryFile}}" download>
                https://store.componento.eu/components/{{namelink}}/{{version}}/{{entryFile}}</a></dd>
        <dt class="col-3">How to use the component :</dt>
        <dd class="col-9 mb-4">{{{information}}}</dd>
    </dl>

    {{#if olderversions}}
    <h3 class="mt-4 mb-3">Older Versions:</h3>
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Version</th>
                <th scope="col">Link</th>
            </tr>
        </thead>
        <tbody>
            {{#each olderversions }}
                <tr>
                    <td>{{this.version}}</td>
                    <td> <a href="/components/{{this.name}}/{{this.version}}/{{this.entry_file}}" download>https://store.componento.eu/components/{{this.name}}/{{this.version}}/{{this.entry_file}}</a> </td>
                </tr>
            {{/each}}
        </tbody>
    </table>
    {{/if}}

</div>