 <div class="container mb-5">
    <h3 class="mt-5 mb-4 text-center text-md-left">All Components</h3>
    <div class="d-flex justify-content-between">
        <nav class="filter">
            {{#unless components}}
                <div class="alert alert-warning" role="alert">
                Component Name {{searchName}} doesn't exists. Try another name.
                </div>
            {{/unless}}
            {{#if components}}
                <h3>Sorting</h3>
                <ul class="pagination pagination-sm">
                    <li class="page-item">
                        <a href="/componentlist?p=abc" class="page-link sorting">Alphabetical</a>
                    </li>
                    <li class="page-item ">
                        <a href="/componentlist?p=new" class="page-link sorting">Newest</a>
                    </li>
                </ul>
            {{/if}}
        </nav>
        <form action="/componentlist" method="get" class="form-inline my-2 my-lg-0">
            <div class="input-group">
                <input type="search" name="q" class="form-control" placeholder="Search component" value=""/>
                <button type="submit" class="btn btn-primary">
                    <span class="searchIcon"></span>
                </button>
            </div>
        </form> 
    </div>
    {{#if query}}
        <h5 class="mb-4">Searched component is: <strong class="searchTerm">{{query}}</strong> <br> And total number of results found is: <strong class="count">{{count}}</strong></h5>
    {{/if}}

    <div class="d-flex flex-wrap justify-content-center justify-content-md-start">
        {{#each components}}
        <div class="card mr-3 mb-3" style="width: 22.1rem;">
            <div class="card-body">
                <h5 class="card-title">{{this.id}}- {{this.name}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">Component Description</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <div class="d-flex flex-row">
                    <a href="{{this.website}}" class="card-link">Visit our Website</a>
                    <a href="/componentDetails/{{this.name}}" class="card-link">Look at our Component</a>
                </div>
            </div>
        </div>
        {{/each}}
    </div>

    {{> pagination url="/componentlist" }}

</div> 

