    <div class="container mt-5">
        <h3 class="mb-4">File upload with express-fileupload</h3>
        <form method='post' action='/upload' enctype="multipart/form-data" id="uploadFile">
            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="componentName">Component Name*:</label>
                        <input type="text" class="form-control" id="componentName" aria-describedby="ComponentNameHelp" name="componentName" value="{{component.name}}" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="inputVersion">Version*:</label>
                        <input type="text" class="form-control" id="inputVersion" name="inputVersion" value="{{versionData.version}}" required>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="fileUpload">Choose file to upload*:</label> <br>
                        <input type='file' name='fileUpload' id="upload"  required>
                    </div>
                </div>
            </div>

            <div class="row mt-3">
                <div class="col">
                    <div class="form-group">
                        <label for="information">Include some instructions to integrate the component:</label>
                        <textarea class="form-control" id="summernote" name="information" name="componentTextarea" value="{{versionData.information}}"></textarea>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="website">Website:</label>
                        <input type="text" class="form-control" id="website" name="website" value="{{versionData.website}}">
                    </div>
                </div>
            </div>

            {{!-- <div class="row">
                <div class="col">
                    <div class="form-group">
                        <label for="entryFile">Entry_File:</label>
                        <input type="text" class="form-control" id="entryFile" name="entryFile" value="{{versionData.entry_file}}">
                    </div>
                </div>
            </div> --}}
            <button type="submit" class="btn btn-primary mt-2">Upload components</button>
        </form>
    </div>

   <script src="/index.js" type="module"></script> 
